.about-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  max-width: 1366px;
  margin: auto;
  height: 100%;
  margin-top: 20px;
}

.about-wrapper .top {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;

  height: 100px;
}

.about-wrapper .top h3 {
  font-weight: 400;
  font-size: 20px;
}

.about-wrapper .top h2 {
  font-weight: 500;
  font-size: 35px;
}

.about-wrapper .bottom {
  height: calc(100vh - 110px);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.about-wrapper .left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-wrapper .left img {
  width: 430px;
  height: 440px;
  border-radius: 15px;
  object-fit: cover;
  background: linear-gradient(
    to bottom,
    var(--bg-shade-start),
    var(--bg-shade-end)
  );
}

.about-wrapper .right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}

.aboutme-badges {
  display: flex;
  gap: 20px;
}

.aboutme-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  background-color: var(--bg-color);
  border-radius: 10px;
  padding: 15px 25px;

  flex: 1;
  text-align: center;
}

.aboutme-badge img {
  width: 50px;
  height: 50px;
  object-fit: fill;
  border-radius: 100%;
}

.aboutme-badge p {
  font-weight: 300;
  font-size: 15px;
}

.bio-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.bio-container p {
  font-weight: 300;
  font-size: 13px;
}

.bio-container h2 {
  background: linear-gradient(180deg, red, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bio-container img {
  width: 120px;
  height: 40px;
  object-fit: fill;
}

/* MEDIA QURIES FOR DIFFERENT SCREEN SIZE */

@media (max-width: 1366px) {
  .about-wrapper {
    max-width: 1186px;
  }
}

@media (max-width: 1098px) {
  .about-wrapper {
    max-width: 998px;
    gap: 6px;
  }

  .about-wrapper .bottom {
    gap: 30px;
  }
  .about-wrapper .left img {
    width: 380px;
    height: 380px;
  }
}

@media (max-width: 1026px) {
  .about-wrapper {
    max-width: 960px;
    padding: 10px 0;
  }

  .about-wrapper .top {
    height: 50px;
  }

  .about-wrapper .top h3 {
    font-weight: 300;
    font-size: 15px;
  }

  .about-wrapper .top h2 {
    font-weight: 500;
    font-size: 25px;
  }

  .about-wrapper .left img {
    width: 350px;
    height: 350px;
  }

  .aboutme-badges {
    gap: 10px;
  }

  .about-wrapper .right {
    gap: 10px;
  }

  .about-wrapper .right p {
    font-size: 13px;
  }
}

@media (max-width: 853px) {
  .about-wrapper {
    max-width: 650px;
  }

  .about-wrapper .bottom {
    flex-direction: column;
  }

  .about-wrapper .left {
    display: none;
  }

  .about-wrapper .right {
    gap: 10px;
  }
}

@media (max-width: 698px) {
  .about-wrapper {
    max-width: 500px;
  }
}

@media (max-width: 532px) {
  .about-wrapper {
    max-width: 400px;
  }

  .aboutme-badge {
    padding: 10px;
    gap: 5px;
  }

  .aboutme-badge img {
    width: 30px;
    height: 30px;
  }

  .aboutme-badge h3 {
    font-size: 13px;
  }

  .aboutme-badge p {
    font-size: 10px;
  }
}

@media (max-width: 452px) {
  .about-wrapper {
    max-width: 320px;
  }
}

@media (max-width: 350px) {
  .about-wrapper {
    max-width: 300px;
  }
}

@media (max-width: 325px) {
  .about-wrapper {
    max-width: 200px;
  }

  .bio-container h2,img {
    display: none;
  }
}
