.hero {
  height: calc(100vh - 100px);
}

.hero-wrapper {
  height: 100%;
  max-width: 1366px;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.hero-wrapper .left img {
  width: 430px;
  height: 430px;
  border-radius: 100%;
  object-fit: cover;
  background: linear-gradient(
    to bottom,
    var(--bg-shade-start),
    var(--bg-shade-end)
  );
}

.hero-wrapper .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.hero-wrapper h3 {
  font-weight: 400;
  font-size: 20px;
}

.hero-wrapper h1 {
  font-weight: 700;
  font-size: 55px;
  letter-spacing: 7px;
}

.hero-wrapper h2 {
  font-weight: 500;
  font-size: 35px;
  background: linear-gradient(90deg,red,blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.awardList {
  display: flex;
  gap: 8px;
}

.awardList img {
  width: 50px;
  height: 50px;
  padding: 8px;
  background: var(--bg-color);
  border-radius: 100%;
  cursor: pointer;
}

.hero-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.hero-links button {
  padding: 10px 15px;
  width: 200px;
  border-radius: 40px;
  border: .5px solid var(--letter-color1);
  cursor: pointer;
}

.hero-links button:nth-child(1) {
  background-color: var(--bg-color);
  color: var(--letter-color1);
  font-weight: 600;
}

.hero-links a:nth-child(2) button {
  background: var(--letter-color1);
  color: var(--bg-color);
  font-weight: 500;
}

.hero-links button:hover {
  transform: scale(1.05, 1.05);
  transition: 1s;
}

.right .animated-conatiner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.animated-conatiner img {
  height: 100%;
  filter: invert(1); /* Converts to white for blending */
}

.sliding-text-container {
  position: absolute;
  font-size: 50vh;
  bottom: -100px;
  white-space: nowrap;
  color: #1b17170e;
  width: 50%;
  font-weight: bold;
  z-index: -1;
}

/* MEDIA QURIES FOR DIFFERENT SCREEN SIZE */

@media (max-width: 1366px) {
  .hero-wrapper {
    max-width: 1186px;
  }
}

@media (max-width: 1098px) {
  .hero-wrapper {
    max-width: 998px;
  }

  .hero-wrapper {
    gap: 30px;
  }

  .hero-wrapper .left img {
    width: 350px;
    height: 350px;
  }

  .hero-wrapper h3 {
    font-weight: 400;
    font-size: 15px;
  }

  .hero-wrapper h1 {
    font-weight: 600;
    font-size: 40px;
  }

  .hero-wrapper h2 {
    font-weight: 500;
    font-size: 30px;
  }
}

@media (max-width: 890px) {
  .hero-wrapper {
    max-width: 850px;
  }

  .hero-wrapper {
    gap: 15px;
  }

  .hero-wrapper .left img {
    width: 250px;
    height: 250px;
  }

  .hero-wrapper h1 {
    font-weight: 500;
    font-size: 35px;
  }

  .hero-wrapper h2 {
    font-weight: 400;
    font-size: 20px;
  }

  .hero-links button {
    padding: 10px 15px;
    width: 150px;
  }
}

@media (max-width: 700px) {
  .hero-wrapper {
    max-width: 650px;
    flex-direction: column;
    margin-top: 30px;
    gap: 5px;
  }

  .hero-wrapper .left img {
    width: 300px;
    height: 300px;
  }

  .hero-wrapper .right {
    gap: 5px;
  }

  .right .animated-conatiner {
    display: none;
  }
}

@media (max-width: 447px) {
  .hero-wrapper h1 {
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 2px;
  }

  .hero-links button {
    padding: 10px 15px;
    font-size: 10px;
    width: 100px;
  }
}

@media (max-width: 330px) {
  .hero-wrapper .left img {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 279px) {
  .hero-wrapper {
    max-width: 250px;
  }

  .hero-wrapper h1 {
    font-weight: 500;
    font-size: 20px;
  }
}
