.navbar {
  height: 100px;
  background-color: var(--bg-color);
    scroll-snap-align: center;
}

.nav-wrapper {
  max-width: 1366px;
  margin: auto;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-wrapper .logo span {
  font-weight: 600;
  font-size: 20px;
}

.logo span:nth-child(1) {
  background: linear-gradient(90deg, red, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.links {
  display: flex;
  align-items: center;
  gap: 30px;
}

.links a:not(.selected):hover {
  transform: scale(1.1, 1.2);
  transition: all 0.5s ease-out;
}

.selected {
  color: var(--letter-color1);
  border: .5px solid var(--letter-color1);
  padding: 5px 15px;
  border-radius: 6px;
}

.selected:hover{
  cursor:default;
}

.sidebar-menu {
  display: none;
}

.sidebar-menu .sidebar-links {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 50vw;
  background-color: var(--bg-color);
  opacity: 0.95;

  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.sidebar-menu .sidebar-links a:not(.selected):hover {
  transform: scale(1.1, 1.1);
  transition: all 0.5s ease-out;
}

.toggle-button {
  width: 22px;
  height: 18px;
  border: none;
  cursor: pointer;
  background-color: var(--bg-color);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 3;
  /* position: relative; */
}

.toggle-button .lines {
  width: 22px;
  height: 3px;
  background-color: var(--letter-color1);
  border-radius: 20px;
}

.toggle-button .lines:nth-child(2n + 1) {
  transform-origin: left;
}

/* MEDIA QURIES FOR DIFFERENT SCREEN SIZE */

@media (max-width: 1366px) {
  .nav-wrapper {
    max-width: 1186px;
  }
}

@media (max-width: 1098px) {
  .nav-wrapper {
    max-width: 998px;
  }

  .logo span:nth-child(1) {
    font-weight: 600;
  }
}

@media (max-width: 855px) {
  .nav-wrapper {
    max-width: 85vw;
  }

  .navbar {
    height: 60px;
  }

  .nav-wrapper .logo span {
    font-weight: 500;
    font-size: 15px;
  }

  .links {
    gap: 15px;

    font-weight: 400;
    font-size: 13px;
  }
}

@media (max-width: 655px) {
  .nav-wrapper {
    max-width: 85vw;
    margin-left: 0;
  }

  .links {
    display: none;
  }

  .sidebar-menu {
    display: flex;
  }

}
